@font-face {
    font-family: "Typewriter";
    src: url('../static/fonts/JMHTypewriterDry.otf');
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: white;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.popUp
{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    
}

.popUp.active
{
    width: 70%;
    display: block;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.628);
    border-radius: 0.625rem;
    backdrop-filter: blur(19px);
    box-shadow: 0px 0px 5px 0px rgba(71, 36, 3, 0.539);
    padding: 1.5em;
}

.popUp p{
    font-family: 'Typewriter';
    text-rendering: optimizeLegibility;
    color: #472403;
    font-size: 13px;
}

.popUp hr{
    margin: 1em 0em;
    border-bottom: solid #472403 0.5px;
}

.exit
{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}